.about-container{
    background-color: rgb(218, 218, 218);
    padding-top: 40px;
    padding-bottom: 50px;
}
.row{
    padding-top: 30px;
}
.icon{
    margin: 20px;
    color: rgb(88, 88, 88);
    font-size: 40px;
}